<% include ./partials/header %>
  
  <body>
    
    <% include ./partials/menu %>
    
    <div class="pusher">
      <div class="ui main text container">
        
        <h1 class="ui header">Image uploaded:</h1>
        
        <div class="ui divided items">
          <div class="item">
            <div class="ui tiny image">
              <img src="/uploads/<%= image.filename %>" alt="<%= image.filename %>">
            </div>
            <div class="middle aligned content">
              <p>
                <strong>File Name: </strong> <%= image.filename %>
              </p>
              <p>
                <strong>Created: </strong> <%= image.created %>
              </p>
            </div>
          </div><!-- item -->
        </div><!-- ui divided items -->
        
      </div><!-- ui main text container -->
    
    <% include ../partials/js/default %>
      
    <script>
    // Helper function to get a parameter from the query string.
    function getUrlParam( paramName )
    {
      var reParam = new RegExp( '(?:[\?&]|&)' + paramName + '=([^&]+)', 'i' );
      var match = window.location.search.match( reParam );

      return ( match && match.length > 1 ) ? match[1] : null;
    }


    // Function to pass the filename of the selected image back to the CKEditor
    function returnFileUrl(fileUrl)
    {
      var funcNum = getUrlParam( 'CKEditorFuncNum' );
      window.parent.CKEDITOR.tools.callFunction( funcNum, fileUrl );
      window.close();
    }
    
    returnFileUrl('/uploads/<%= image.filename %>');
                  
    /*alert(window.location.href);
    window.parent.CKEDITOR.tools.callFunction(<%= funcNum %>, '/uploads/<%= image.filename %>');*/
    </script>

 <% include ./partials/footer %>