<% page = "home" %>
<% include ./partials/header %>
<%

if (typeof allProjects === "undefined")
{
  allProjects = {};
}

%>
<!--<div class="ui main text container">-->

  <div class="ui main stackable vertically divided grid container">

    <div class="row middle aligned">
      <div class="four wide center aligned column">
        <img class="ui small centered circular image" src="/images/jimmy.vanveen.jpg">
      </div>
      <div class="twelve wide center aligned column">
        <h1 class="ui header" id="name">Jimmy Van Veen</h1>
        <h2 class="ui header" id="tagline">Full stack Web Developer</h2>
        <p>Jimmy is a passionate full stack web developer. He works primarily with Node.js, Express, MongoDB, jQuery, as well as Vanilla CSS, &amp; JavaScript</p>
      </div>
    </div>

    <div class="five column row">
      
      <div class="sixteen wide column">
        <h2 class="ui header">Where to find my work, and how to get in contact with me:</h2>
      </div>

      <div class="column">
        <a class="ui linkedin big fluid button" href="https://www.linkedin.com/in/JimmyVanVeen" target="_blank">
          <i class="linkedin icon"></i>
          LinkedIn
        </a>
      </div>

      <div class="column">
        <a class="ui green big fluid button" href="https://github.com/JimmayVV" target="_blank">
          <i class="github icon"></i>
          GitHub
        </a>
      </div>

      <div class="column">
        <a class="ui blue big fluid button" href="https://bitbucket.org/JimmayVV/" target="_blank">
          <i class="bitbucket icon"></i>
          Bitbucket
        </a>
      </div>

      <div class="column">
        <a class="ui orange big fluid button" href="/contact">
          <i class="talk icon"></i>
          Contact Page
        </a>
      </div>
      
      <div class="column">
        <a class="ui teal big fluid button" href="tel:6038011131">
          <i class="phone icon"></i>
          Phone
        </a>
      </div>
        
      
    </div><!-- row -->
    
    
    <div class="row">
      <div class="one fluid column">
        
        <h2 class="ui header">Jimmy's Projects:</h2>
        
        <div class="ui three stackable cards">
          
          <% allProjects.forEach( function(project, index, array) { %>
            <a class="ui raised card" href="/projects/<%= project.shortId%>">
              <div class="image">
                <img src="<%- project.image %>" />
              </div><!-- image -->
              <div class="content">
                <div class="header"><%- project.title %></div>
                <div class="meta">
                  <p>
                    <% if (project.current) { %>
                      This project is <strong>Current</strong> and was started on <%= project.started.toDateString() %>
                    <%
                    } else { %>
                      Project ran from <%= project.started.toDateString() + " to " + project.finished.toDateString() %>
                    <% } %>
                    by <strong><%= project.author.username %></strong>
                  </p>
                </div><!-- meta -->
                <div class="description">
                  <%- project.content %>
                </div><!-- description -->
              </div><!-- content -->
            </a><!-- ui fluid card -->
          <% }); %>
          
        </div><!-- ui three stackable cards -->
        
      </div><!-- one fluid column -->
    </div><!-- row -->

  </div><!-- ui stackable vertically divided grid -->

<!--</div><!-- ui main text container -->

<% include ./partials/js/default %>
<% include ./partials/js/main %>
<% include ./partials/footer %>