<% page = "projects" %><% include ../partials/header %>

<div class="ui main text container">
  <h1 class="ui header">Jimmy's Projects</h1>
  
    <!--<div class="ui segment">
      <div class="ui divided items">-->
      
        <%
        if (typeof allProjects !== "undefined" && allProjects.length > 0)
        {
          //var colors = ["red", "orange", "yellow", "olive", "green", "teal", "blue", "violet", "purple", "pink", "brown"];
          
          allProjects.forEach( function(project, index, array)
          {
          %>
            <div class="ui fluid raised card">
              <div class="image">
                <img src="<%- project.image %>" />
              </div><!-- image -->
              <div class="content">
                <a class="header" href="/projects/<%= project.shortId%>"><%- project.title %></a>
                <div class="meta">
                  <p>
                    <% if (project.current) { %>
                      This project is <strong>Current</strong> and was started on <%= project.started.toDateString() %>
                    <%
                    } else { %>
                      Project ran from <%= project.started.toDateString() + " to " + project.finished.toDateString() %>
                    <% } %>
                    by <strong><%= project.author.username %></strong>
                  </p>
                </div><!-- meta -->
                <div class="description">
                  <%- project.content %>
                </div><!-- description -->
              </div><!-- content -->
              
              <%
              if (typeof project.repo !== "undefined" && typeof project.repo.url !== "undefined")
              {
              var color = (project.repo.location === "Github") ? 'green' : 'blue';
              %>
              <a class="ui bottom attached <%= color %> button" href="<%= project.repo.url %>" target="_blank">
                <%= (typeof project.repo.location !== "undefined") ? "View on " + project.repo.location : "View Repository Online" %>
              </a>
              <% } %>
              
            </div><!-- ui fluid card -->
          <%
          });
        }
        else
        {
        %>
          <div class="ui segment">
          <div class="description"><p>No Projects</p></div>
          </div>
        <% } %>

</div>

<script>hljs.initHighlightingOnLoad();</script>

<% include ../partials/js/default %>
<% include ../partials/footer %>