<% page = "projects" %><% include ../partials/header %>
<%
var h2tag = 'Make New Project';
var formAction = '/projects';
var months = ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"];

if (typeof project === 'undefined')
{
  var project = {title: '', image: '', content: '', started: new Date(2017, 0, 1), finished: new Date(2017, 0, 1)};
}
else
{
  h2tag = "Edit Project: " + project.title;
  formAction = '/projects/' + project.shortId + '?_method=PUT';
}
%>

<div class="ui main text container">
  
  <h1 class="ui header">Jimmy's Projects</h1>
  <div class="ui segment">
    
    <form action="<%= formAction %>" method="post" class="ui form" onsubmit="return verifyDate()" id="newProjectForm">
      <h3 class="ui header"><%= h2tag %></h3>

      <div class="field">
        <label>Project Title</label>
        <input type="text" name="title" placeholder="Project Title" value="<%= project.title %>" required autofocus autocomplete="off">
      </div>
      
      <div class="field">
        <label>Project Image URL</label>
        
        <div class="ui action fluid input">
          <input type="text" name="image" placeholder="Project Image URL" value="<%= project.image %>" required autocomplete="off">
          <a class="ui blue right labeled icon copy button" onclick="openImageSelector();">
            <i class="image icon"></i>
            Select
          </a>
        </div><!-- ui action fluid input -->
        
        <!--<input type="text" name="image" placeholder="Project Image URL" value="<%= project.image %>" required autocomplete="off">-->
      </div>
      
      <div class="field">
        <label>Date(s) of Project</label>
        <%
        var checked = "";
        var hiddenStyle = "";
        if (project.current) {
          checked = " checked";
          hiddenStyle = ' style="display: none"';
        }
        %>
        <div class="ui checkbox<%= checked %>" id="currentProject">
          <input name="current" value="<%= project.current %>" id="currentVal" type="hidden">
          <input tabindex="0" class="hidden" type="checkbox"<%= checked %>>
          <label for="current">Is this project still current?</label>
        </div>
        

        <div class="two fields">
          <div class="field">
            <label>Start Date:</label>
            <div class="fields">
              <div class="eight wide field">
                <select name="startDate[month]" class="ui search dropdown">
                  <!-- Months are zero-based in JavaScript Date object, so this is factored into this select -->
                  <%
                  for (var i = 0; i < months.length; i++) {
                    var selected = (project.started.getMonth() === i) ? "selected" : ""; %>
                    <option value="<%= i %>" <%= selected %>><%= months[i] %></option>
                  <% } %>
                </select>
              </div>
              <div class="three wide field">
                <select name="startDate[day]" class="ui search dropdown">
                  <% for(var i = 1; i <= 31; i++) {
                    var selected = (project.started.getDate() === i) ? "selected" : ""; %>
                    <option value="<%= i %>" <%= selected %>><%= i %></option>
                  <% } %>
                </select>
              </div>
              <div class="five wide field">
                <select name="startDate[year]" class="ui search dropdown">
                  <% for(var i = 2017; i >= 2000; i--) {
                    var selected = (project.started.getFullYear() === i) ? "selected" : ""; %>
                  <option value="<%= i %>" <%= selected %>><%= i %></option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label>End Date:</label>
            <div class="fields" id="endDate"<%- hiddenStyle %>>
              <div class="eight wide field">
                <select name="endDate[month]" class="ui search dropdown">
                  <!-- Months are zero-based in JavaScript Date object, so this is factored into this select -->
                  <% for (var i = 0; i < months.length; i++) {
                    var selected = (project.finished.getMonth() === i) ? "selected" : ""; %>
                  <option value="<%= i %>" <%= selected %>><%= months[i] %></option>
                  <% } %>
                </select>
              </div>
              <div class="three wide field">
                <select name="endDate[day]" class="ui search dropdown">
                  <% for(var i = 1; i <= 31; i++) {
                    var selected = (project.finished.getDate() === i) ? "selected" : ""; %>
                  <option value="<%= i %>" <%= selected %>><%= i %></option>
                  <% } %>
                </select>
              </div>
              <div class="five wide field">
                <select name="endDate[year]" class="ui search dropdown">
                  <% for(var i = 2017; i >= 2000; i--) {
                    var selected = (project.finished.getFullYear() === i) ? "selected" : ""; %>
                  <option value="<%= i %>" <%= selected %>><%= i %></option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        
        </div>
      </div>

      <div class="field">
        <label>Project Content</label>
        <textarea name="content" id="editContent" required><%= project.content %></textarea>
      </div>

      <button class="ui primary button" type="submit">Submit</button>
    </form>
  </div><!-- ui segment -->
</div><!-- ui main text container -->

<% include ../partials/js/default %>

<!-- Date JavaScript -->
<script type="text/javascript" src="/scripts/newEditProject.js"></script>

<% include ../partials/js/richTextarea %>
<% include ../partials/footer %>